<p>
  this is the parent component, below is my child component
</p>

<!-- <div class="row" >
      <div class="col-md-12">
        <app-child [childMessage]="parentMessage"></app-child>
      </div>
</div> -->

<!-- <div class="row" style="margin-left:30px">
  <div class="col-md-12">
      <app-child [ingredients] = "ingredients"></app-child>
  </div>
</div> -->

<div class="row" style="margin-left:50px">
  <div class="col-xs-12">
    <app-sibling></app-sibling>
  </div>
</div>

<hr>

<div class="row" style="margin-left: 50px;">
  <div class="col-xs-12"></div>
  <app-child></app-child>
</div>